<div class="whole-profile-page">
    <div class="banner profile-banner"></div>
    <div class="profile-info">
        <div class="avatar">
            {{#if userInSession.avatarPath}}
            <img src="{{userInSession.avatarPath}}" alt="avatar">
            {{else}}
            <a href="/{{userInSession._id}}/edit"><img src="/images/sun2.png" alt=""></a>

            {{/if}}
        </div>
        <div class="profile-text">
            <h1>{{userInSession.username}}</h1>
            {{#if userInSession.bio}}
            <h2>{{userInSession.bio}}</h2>
            {{/if}}
            <div class="profile-snippets">
               
                {{#if snippets}}
                <h5>List of the snippets which you created:</h5>
                {{#each snippets}}
                <a href="/snippet/{{_id}}">{{name}}</a>
                {{/each}}
                {{else}}
                 <h5>Here you will the created snippets</h5>
                {{/if}}
                 <a href="/{{userInSession.username}}/create">Create a snippet</a>
            </div>
            <div class="profile-links">
               
                <a href="/{{userInSession._id}}/edit">Edit profile</a>
            </div>

        </div>
    </div>
</div>