<div class="permanent">
    {{#if userInSession }}
<p>Welcome {{userInSession.username}}!</p>
<div>
    <p>Name is: {{userInSession.username}}</p>
    <p>Bio is: {{userInSession.bio}}</p>
</div>
<button>
    <a href="/{{userInSession._id}}">Refresh the page</a>
</button>
<br>
<a href="/{{userInSession.username}}/create">Create a snippet as a logged in user</a>
<p>List of the snippets</p>
{{#each snippets}}
    <a href="/snippet/{{_id}}">{{name}}</a>
    <br>
{{/each}}

<p>below is an avatar</p>
<img src="{{userInSession.avatarPath}}" alt="avatar">
{{#if userInSession.avatarPath}}
    
{{/if}}


<form action="/bio-update/{{userInSession._id}}" method="post">
    <label for="bio">Add bio</label>
<input type="text" name="bio" placeholder="add your tagline">
<button type="submit">Add bio</button>
</form>

<form action="/add-avatar/{{userInSession._id}}" method='post' enctype="multipart/form-data">
<label for="avatar">Add you avatar</label>
<input type="file" name='avatar'>
<button type='submit'>Submit</button>
</form>

{{else}}
<p>youna are not logged in</p>

{{/if}}



<h1>To do here</h1>
<ul>
    <li>Photo</li>
    <li>bio</li>
</ul>   
</div>

