<div class="one-snippet-page">
    <div class="banner-one-snippet banner"></div>
    <div class="put-inside">
        <div class="one-snippet-whole">
            <div class="one-snippet-info">
                <div class="user-info-data">
                    <h3>{{oneSnippet.name}}</h3>
                    <p>{{oneSnippet.description}}</p>
                    <p>Tag: {{oneSnippet.tag}}</p>
                    <p>{{oneSnippet.extension}}</p>
                </div>
                <div class="snippet-data-info">
                    {{#if oneSnippet.connections}}
                    <p>Maybe you also will work with this files:</p>
                    {{#each oneSnippet.connections}}
                    <a href="/snippet/{{_id}}">{{name}}</a>
                    {{/each}}
                    {{/if}}
                </div>
            </div>
            <div class="code-snippet">
                <textarea disabled class="scroll-box snippet-view">{{oneSnippet.snippet}}</textarea>
            </div>
        </div>
        {{#if userInSession}}
        <div class="wrapper-connections">
            <div class="add-connection">
                <p>Do you want to connect this file?</p>
                <form action="/snippet/{{oneSnippet.id}}" method="post">
                    <select multiple name="connections" id="">
                        <option disabled>find a snippet to connect</option>
                        {{#each otherSnippets }}
                        <option value="{{id}}">{{name}}</option>
                        {{/each}}
                    </select>
                    <button type='submit'>Add the connections</button>
                </form>
            </div>
            <div class="snippet-buttons">
                <a href="/snippet/edit/{{oneSnippet._id}}">Edit</a>
                <a href="/delete/{{oneSnippet._id}}">Remove</a>
            </div>
        </div>
    </div>
    {{/if}}
    {{#if errorMessage}}
    <p>{{ errorMessage }}</p>
    {{/if}}

</div>

