

{{#each data}}
    <a href="/snippet/{{id}}">
    <div>
        <p>Name: {{name}}</p>
        <p>Descriptopn: {{description}}</p>
        <p>Code snippet: {{snippet}}</p>
        <p>Ext {{extension}}</p>
        <p>Tag {{tag}}</p>
        <img src="{{imageUrl}}" alt="">
        <h3>break </h3>
    </div>
</a>
    
{{/each}}


<a href="/">Home</a>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}