<div class="all-page">
    <div class="banner-all"></div>
    <div class="all-snippets">
        {{#each data}}
        <div class="one-snippet">
            <a class="real-one" href="/general/snippet/{{id}}">
                <div class="one-snippet-image">
                    <img src="{{imageUrl}}" alt="image extension">
                </div>
                <div class="one-snippet-info">
                    <h4>{{name}}</h4>
                    <p>{{description}}</p>
                    <p><i>{{tag}}</i></p>
                </div>
            </a>
        </div>
        {{/each}}

    </div>
    <div class="pagination pagination-centered">
        <ul>
            {{#paginate pagination type="first"}}
            <li {{#if disabled}}class="disabled" {{/if}}><a href="?pageNo={{n}}">First</a></li>
            {{/paginate}}
            {{#paginate pagination type="previous"}}
            <li {{#if disabled}}class="disabled" {{/if}}><a href="?pageNo={{n}}">Prev</a></li>
            {{/paginate}}
            {{#paginate pagination type="middle" limit="7"}}
            <li {{#if active}}class="active" {{/if}}><a href="?pageNo={{n}}">{{n}}</a></li>
            {{/paginate}}
            {{#paginate pagination type="next"}}
            <li {{#if disabled}}class="disabled" {{/if}}><a href="?pageNo={{n}}">Next</a></li>
            {{/paginate}}
            {{#paginate pagination type="last"}}
            <li {{#if disabled}}class="disabled" {{/if}}><a href="?pageNo={{n}}">Last</a></li>
            {{/paginate}}
        </ul>
    </div>
    {{#if errorMessage}}
    <p>{{ errorMessage }}</p>
    {{/if}}

</div>