<div class="all-page">
    <div class="banner-all"></div>
    <div class="all-snippets">
        {{#each data}}
        <div class="one-snippet">
            <a class="real-one" href="/general/snippet/{{id}}">
                <div class="one-snippet-image">
                    <img src="{{imageUrl}}" alt="image extension">
                </div>
                <div class="one-snippet-info">
                    <h4>{{name}}</h4>
                    <p>{{description}}</p>
                    <p><i>{{tag}}</i></p>
                </div>
            </a>
        </div>
        {{/each}}
    </div>
    {{#if errorMessage}}
<p>{{ errorMessage }}</p>
{{/if}}
</div>

{{!--         {{#if enablePaging}}
        <div class="tasksPaging">
            Pages:
            {{#each pages}}
            <a href="/tasks?limit={{limit}}&skip={{skip}}">
                {{num}}
            </a>
            {{/each}}
        </div>
        {{/if}}

        <ul id="taskList">
            {{#each tasks}}
                <li>
                    <input type="checkbox" {{#if completed }} checked="checked" {{/if}} onclick="toggleTask('{{ _id }}', {{ completed }})">
                    <input type="text" value="{{ description }}" onchange="updateTask('{{ _id }}', this)">
                    <button onclick="deleteTask('{{ _id }}')" class="deleteBtn">
                        x
                    </button>
                </li>
            {{/each}}
        </ul>
 --}}