<div class="all-snippets">
    <div class="banner-all"></div>
    {{#each data}}
    <a href="/snippet/{{id}}">
        <div class="one-snippet">
            <div class="one-snippet-image">
                <img src="{{imageUrl}}" alt="image extension">
            </div>
            <div class="one-snippet-info">
                <h4>{{name}}</h4>
                <p>{{description}}</p>
                <p><i>{{tag}}</i></p>
            </div>
        </div>
    </a>
    {{/each}}
</div>
