<form action="/snippet/{{id}}" method="post">
    <label for="name">Snippet name</label>
    <input type="text" name='name' value="{{snippet.name}}">
    <br>
     <label for="description">Snippet description</label>
    <input type="text" name="description" value="{{snippet.description}}">
    <br>
     <label for="snippet">Snippet</label>
    <input type="text" name="snippet" value="{{snippet.snippet}}">
    <br>

   
   

<br>
    {{!--  <label for="tags">Tags</label>
    <select  name="tags" id="tags" multiple>
        {{#each data}}
        <option value="{{name}}">{{name}}</option>
         {{/each}}
    </select> --}}
   <button type="submit">Yes</button>
</form>

<a href="/">Home</a>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}