<h1>to do here: list of the connections</h1>
<div>
   
    <p>Name: {{oneSnippet.name}}</p>
    <p>Descriptopn: {{oneSnippet.description}}</p>
{{!--     <div>
         <p>Code snippet: {{snippet}}</p>
         
    </div> --}}
   <div>
       <textarea disabled class="scroll-box">{{oneSnippet.snippet}}</textarea>
   </div>
    <p>{{oneSnippet.tag}}</p>
    <p>{{oneSnippet.extension}}</p>
    <img src="{{oneSnippet.imageUrl}}" alt="">
    
</div>

<div>
    <p>Do you want to conenct this file?</p>
   <select multiple name="connectionsId" id="" >
        <option disabled>{{otherSnippets.[0].name}}</option>
        {{#each otherSnippets }}
            <option value="{{_id}}">{{name}}</option>
            
        {{/each}} 
    </select> 
    <button type='submit'></button>
</div>
{{#each otherSnippets}}
    <p>{{name}}</p>
{{/each}}



<a href="/snippet/edit/{{oneSnippet._id}}">Edit</a>
<a href="/delete/{{oneSnippet._id}}">Remove</a>
<br>
<a href="/">Home</a>
{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}