
<div>
   
    <p>Name: {{name}}</p>
    <p>Descriptopn: {{description}}</p>
    <p>Code snippet: {{snippet}}</p>
    <p>{{tag}}</p>
    <p>{{extension}}</p>
    <img src="{{imageUrl}}" alt="">
</div>

<a href="#">Add tags and extension</a>

<a href="/">Home</a>
<a href="/snippet/edit/{{_id}}">Edit</a>
<a href="/delete/{{_id}}">Remove</a>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}