
<div>
   
    <p>Name: {{data.name}}</p>
    <p>Descriptopn: {{data.description}}</p>
    <p>Code snippet: {{data.snippet}}</p>
    <p>Tags: {{data.tags}}</p>
    <p>Conenctions: {{data.conenctions}}</p>
    <h3>break </h3>

</div>

<a href="/">Home</a>
<a href="/snippet/{{data.id}}/edit">Edit</a>
