
<div>
   
    <p>Name: {{name}}</p>
    <p>Descriptopn: {{description}}</p>
    <p>Code snippet: {{snippet}}</p>
  
</div>

<a href="#">Add tags and extension</a>

<a href="/">Home</a>
<a href="/snippet/{{data.id}}/edit">Edit</a>
<a href="/delete/{{data.id}}">Remove</a>

{{#if errorMessage}}
    <p>{{ errorMessage }}</p>
{{/if}}