<div class="whole-profile-page">
    <div class="banner profile-banner"></div>
    <div class="profile-info">
        <div class="info-avatar">
            <div class="avatar">
                {{#if userInSession.avatarPath}}
                <img class="avatar" src="{{userInSession.avatarPath}}" alt="avatar">
                {{else}}
                <a  href="/{{userInSession._id}}/edit"><img class='avatar' src="/images/sun2.png" alt=""></a>
                {{/if}}
            </div>
            <div class="profile-text">
                <h3>{{userInSession.username}}</h3>
                {{#if userInSession.bio}}
                <p>{{userInSession.bio}}</p>
                {{/if}}
                <div class="profile-links">
                    <p><a href="/{{userInSession._id}}/edit">Edit profile</a></p>
                </div>
            </div>
        </div>
        <div class="snip-prof-size">
            {{#if snippets}}
            <h4>List of the snippets which you created:</h4>
            {{#each snippets}}
            <div  class="profile-snippets">
                <div class="one-link"><a href="/snippet/{{_id}}">{{name}}</a></div>
            </div>
            {{/each}}
            {{else}}
            <h3>Here you will the created snippets</h3>
            {{/if}}
            <a class="create-snippet-link" href="/{{userInSession._id}}/create">Create a snippet</a>
        </div>
    </div>
</div>